@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&family=Ubuntu:ital,wght@0,300;0,400;1,500&display=swap');

body {
    /*font: 1em;
    font-family: 'Quicksand', sans-serif;
    text-align: center;*/
    background: goldenrod;
    height: 475px;
    width: 1250px;
    padding: 5px 0 0 0;
}


    .stage {
        /*border-bottom: 3px; /*solid #dcdcdc;*/
        
        height: 0px;
        width: 1250px;
        padding-top: 0;
        /*padding: 10px 30px 0 auto;*/
    }
    .mosca {
        height: 60px;
        width: auto;
        /*display: inline-block;*/
    }
    
    .mosca2 {
        /*height: 80px;
        width: auto;
        /*display: inline-block;*/    
        animation-name: bounce;
        animation-timing-function: ease;
        animation-direction: alternate;
        animation: bounce 1s infinite alternate;
        -webkit-animation: bounce 1s infinite alternate;
        margin-right: 70px;
        margin-left: 930px;
        align-self: flex-end;
        animation-duration: 1s;
        animation-iteration-count: infinite;  
        height: 200px;
        /*margin: 0 15px 0 15px;*/
        transform-origin: bottom;
        width: 200px;   
        
    }


    @keyframes bounce {
        from {
            transform: translateY(0px);
        }
        to {
            transform: translateY(-25px);
        }
    }

    @-webkit-keyframes bounce {
        from {
            transform: translateY(0px);
        }
        to {
            transform: translateY(-15px);
        }
    }  


    .mosca3 {
        height: 60px;
        width: auto;
        /*display: inline-flex;*/ 
        margin-top: 0;
    }
    .mosca3 {
        animation-name: mosca2;
        animation-timing-function: ease;
        animation-direction: alternate;
    }

    @keyframes mosca3 {
        0%   { transform: scale(1,1)      translateY(0); }
        10%  { transform: scale(1.1,.9)   translateY(0); }
        30%  { transform: scale(.9,1.1)   translateY(-100px); }
        50%  { transform: scale(1.05,.95) translateY(0); }
        57%  { transform: scale(1,1)      translateY(-7px); }
        64%  { transform: scale(1,1)      translateY(0); }
        100% { transform: scale(-2,0)     translateY(0); }
    }


footer {
    background: goldenrod;
    text-align: center;
    position: fixed;*/
   
    padding: 0 auto 0 auto;
    width: 100%;
    margin: 0;
    /*height: 30px;*/
    /*bottom: 0;
    /*left: 0;*/  
    align-self: stretch;
 }

.contato {
    text-align: center;
    padding: 0 auto 0 auto;
}


.linkedin{
    width: 29.5x;
    height: 29.5px;
    padding-top: 0;
    padding-bottom: 0;
}

    .linkedin:hover {
        transition: 0.7s;
        transform: scale(1.5);
    }

.github {
    width: 29px;
    height: 29px;
        padding-top: 0;
        
}

    .github:hover {
        transition: 0.7s;
        transform: scale(1.5);
    }


#rodape1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 11px;
    text-decoration: none;
    color: #ffffff;
    padding-top: 0;
    text-align: center;
}

    #rodape1:hover {
        transition: 0.7s;
        transform: scale(1.3);   
    }


/*-------------------------------------*/

/*@media only screen and (max-width: 322px) {
         .canvas canvas{
             margin: 0 auto;
             width: 315px;
             height: 70vh;
         }
         footer{
            width: 315px;
         }
         #rodape1 {
            font-size: 8px;
     }

    /*.stage {
    width: 100%;
  height: 117px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
    }

    .mosca2 {
        height: 80px;
        width: 40px;
        align-items: center;
    }

  
    .botoes {
        display: flex;
        flex-direction: column;
 
    }
  
 

    .rodape {
        flex-direction: column;
 


/*---------------------------------------------*/